<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54286744068-7j9a8e3fqda136jro4gtao344rftsij8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54286744068-7j9a8e3fqda136jro4gtao344rftsij8</string>
	<key>API_KEY</key>
	<string>AIzaSyDXQrhC1mhEowNpaFX5tAjNVFhGRM5WPw0</string>
	<key>GCM_SENDER_ID</key>
	<string>54286744068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>saurav.sagar.GoogleSignInDemo</string>
	<key>PROJECT_ID</key>
	<string>signindemo-de33e</string>
	<key>STORAGE_BUCKET</key>
	<string>signindemo-de33e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54286744068:ios:3a9ace284e1f7afdb55351</string>
</dict>
</plist>